@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

/*HEADER - START*/
#mainHeader {
  background-color: #ff9a00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#mainHeader > a {
  color: #fdf001;
  text-shadow: -2px -2px 1px #0000a5, 2px 2px 1px #0000a5, -2px 2px 1px #0000a5, 2px -2px 1px #0000a5;
  text-decoration: none;
}

#mainHeader nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mainHeader nav a {
  text-decoration: none;
  padding: 5px 10px;
  margin: 0 1rem;
  border: 2px solid #0000a5;
  border-radius: 1rem;
  background-color: white;
  color: black;
  font-weight: bold;
}

.iconoCarrito {
  font-size: 2rem;
  color: white;
}

/*HEADER - END*/
/*MAIN - START*/
#mainInicio {
  background-color: #ebebeb;
}

/*MAIN - END*/
/*FOOTER - START*/
#mainFooter {
  border-top: 2px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mainFooter ul {
  margin-top: 1rem;
}

#mainFooter ul a {
  text-decoration: none;
  padding: 5px 10px;
  margin: 0 1rem;
  color: black;
  font-weight: bold;
}

/*FOOTER - END*/
/*COUNT - START*/
.itemCount {
  margin: 1rem;
  border: 1px solid rgba(128, 128, 128, 0.472);
  background-color: rgba(128, 128, 128, 0.1);
  border-radius: 2rem;
  width: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.itemCount p {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.itemCountBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.itemCountBtn p {
  border: 1px solid black;
  width: 70%;
  border-radius: 1rem;
  margin-top: 15px;
}

.itemCountBtn button {
  padding: 10px;
}

.itemCountBtn button:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.itemCountAgregar {
  background: #00b7f8;
  border-bottom: 5px solid #0045a6;
  border-radius: 12px;
  -webkit-box-shadow: 6px 6px 6px #999;
          box-shadow: 6px 6px 6px #999;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: "Raleway", Arial, Helvetica;
  font-size: 1.5rem;
  height: 2.5rem;
  text-align: center;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.itemCountAgregar:hover {
  background: #0096f7;
}

.itemCountAgregar:active {
  -webkit-box-shadow: 2px 2px 2px #777, 0px 0px 15px 0px #00b7f8;
          box-shadow: 2px 2px 2px #777, 0px 0px 15px 0px #00b7f8;
  border-bottom: 1px solid #0045a6;
  text-shadow: 0px 0px 5px #fff, 0px 0px 5px #fff;
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}

/*COUNT - END*/
/*ITEM - START*/
#cardProducto {
  width: 19rem;
  padding: 1rem;
  margin: 1rem;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
          box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

#cardProducto .btnDetalle {
  margin: 1rem;
  text-decoration: none;
  background-color: #00b7f8;
  padding: 10px;
  color: white;
  border-radius: 10%;
}

#cardProducto .btnAñadir {
  margin: 1rem;
}

#cardProducto .textoProducto {
  padding: 5px;
  text-align: center;
  border-radius: 1rem;
  background-color: rgba(250, 66, 66, 0.507);
  color: white;
  font-weight: bold;
}

/*ITEM - END*/
/*ITEMDETAIL - START*/
#itemDetail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2rem 1rem;
}

#itemDetail .productoBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}

#itemDetail .productoFoto {
  margin: 1rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.596);
}

#itemDetail .productoDato {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#itemDetail .productoDatoEstado {
  color: gray;
  font-size: 1rem;
  margin: 1rem 0;
}

#itemDetail .productoDatoTitulo {
  font-size: 1.5rem;
}

#itemDetail .productoDatoPrecio {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0;
}

#itemDetail .productoDatoPrecio span {
  color: green;
  font-size: 1rem;
  font-weight: 400;
}

#itemDetail .productoDatoEspecificaciones {
  height: 13rem;
  font-size: 1rem;
}

#itemDetail .productoEnvio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(128, 128, 128, 0.596);
  border-radius: 1rem;
}

#itemDetail .productoEnvioDescripcion {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: green;
}

#itemDetail .productoEnvioDescripcion span {
  font-weight: bold;
}

#itemDetail .productoEnvioStock {
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 80%;
  height: 10rem;
}

#itemDetail .productoEnvioStock h4 {
  font-size: 1rem;
}

/*ITEMDETAIL - END*/
/*CARRITO - START*/
.contruccion {
  width: 80vw;
}

/*CARRITO - END*/
/*# sourceMappingURL=estilos.css.map */