* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$colorPrimario: #ff9a00;
$colorSecundario: #fdf001;
$colorBordes: #0000a5;

@mixin background($url) {
  background-image: url($url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
// @include background("aca la url");

html,
body,
#root {
  height: 100vh;
}

/*HEADER - START*/
#mainHeader {
  background-color: $colorPrimario;
  display: flex;
  justify-content: space-around;
  > a {
    color: $colorSecundario;
    text-shadow: -2px -2px 1px $colorBordes, 2px 2px 1px $colorBordes,
      -2px 2px 1px $colorBordes, 2px -2px 1px $colorBordes;
    text-decoration: none;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    a {
      text-decoration: none;
      padding: 5px 10px;
      margin: 0 1rem;
      border: 2px solid $colorBordes;
      border-radius: 1rem;
      background-color: white;
      color: black;
      font-weight: bold;
    }
  }
}
.iconoCarrito {
  font-size: 2rem;
  color: white;
}
/*HEADER - END*/

/*MAIN - START*/
#mainInicio {
  background-color: #ebebeb;
}
/*MAIN - END*/

/*FOOTER - START*/
#mainFooter {
  border-top: 2px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  ul {
    margin-top: 1rem;
    a {
      text-decoration: none;
      padding: 5px 10px;
      margin: 0 1rem;
      color: black;
      font-weight: bold;
    }
  }
}
/*FOOTER - END*/

/*COUNT - START*/
.itemCount {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  p {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
  }
  &Btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    p {
      border: 1px solid black;
      width: 60%;
      border-radius: 1rem;
      margin-top: 15px;
    }
    button {
      padding: 10px;
      background-color: $colorPrimario;
      border-radius: 50%;

      &:active {
        transform: scale(1.1);
      }
    }
  }
  &Agregar {
    background: #00b7f8;
    border-bottom: 5px solid #0045a6;
    border-radius: 1rem;
    box-shadow: 6px 6px 6px #999;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: "Raleway", Arial, Helvetica;
    font-size: 1.5rem;
    height: 2.5rem;
    text-align: center;
    transition: all 0.2s ease 0s;
    &:hover {
      background: #0096f7;
    }
    &:active {
      box-shadow: 2px 2px 2px #777, 0px 0px 15px 0px #00b7f8;
      border-bottom: 1px solid #0045a6;
      text-shadow: 0px 0px 5px #fff, 0px 0px 5px #fff;
      transition: all 0.1s ease 0s;
    }
  }
}
/*COUNT - END*/

/*ITEM - START*/
#cardProducto {
  width: 19rem;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  .btnDetalle {
    margin: 1rem;
    text-decoration: none;
    background-color: #00b7f8;
    padding: 10px;
    color: white;
    border-radius: 10%;
  }
  .btnAñadir {
    margin: 1rem;
  }
  .textoProducto {
    padding: 5px;
    text-align: center;
    border-radius: 1rem;
    background-color: rgba(250, 66, 66, 0.507);
    color: white;
    font-weight: bold;
  }
}
/*ITEM - END*/

/*ITEMDETAIL - START*/
#itemDetail {
  display: flex;
  justify-content: space-around;
  padding: 2rem 1rem;
  .productoBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
  }
  .productoFoto {
    margin: 1rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.596);
  }
  .productoDato {
    display: flex;
    flex-direction: column;
    &Estado {
      color: gray;
      font-size: 1rem;
      margin: 1rem 0;
    }
    &Titulo {
      font-size: 1.5rem;
    }
    &Precio {
      color: black;
      font-size: 1.5rem;
      font-weight: bold;
      margin: 1rem 0;
      span {
        color: green;
        font-size: 1rem;
        font-weight: 400;
      }
    }
    &Especificaciones {
      height: 13rem;
      font-size: 1rem;
    }
  }
  .productoEnvio {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.596);
    border-radius: 1rem;
    &Descripcion {
      margin-top: 1rem;
      display: flex;
      justify-content: space-around;
      align-items: center;

      color: green;
      span {
        font-weight: bold;
      }
    }
    &Stock {
      margin-top: 1rem;
      margin-bottom: 2rem;
      width: 80%;
      height: 10rem;
      h4 {
        font-size: 1rem;
      }
    }
  }
}

/*ITEMDETAIL - END*/

/*CARRITO - START*/
.contruccion {
  width: 80vw;
}
/*CARRITO - END*/
