* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$colorPrimario: #ff9a00;
$colorSecundario: #fdf001;
$colorBordes: #0000a5;

@mixin background($url) {
  background-image: url($url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
// @include background("aca la url");

html,
body,
#root {
  height: 100vh;
}

#mainHeader {
  background-color: $colorPrimario;
  display: flex;
  justify-content: space-around;
  h1 {
    color: $colorSecundario;
    text-shadow: -2px -2px 1px $colorBordes, 2px 2px 1px $colorBordes,
      -2px 2px 1px $colorBordes, 2px -2px 1px $colorBordes;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    a {
      text-decoration: none;
      padding: 5px 10px;
      margin: 0 1rem;
      border: 2px solid $colorBordes;
      border-radius: 1rem;
      background-color: white;
      color: black;
      font-weight: bold;
    }
  }
}

.iconoCarrito {
  font-size: 2rem;
  color: white;
}

#mainInicio {
  height: 80vh;
}

#mainFooter {
  border-top: 2px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  ul {
    margin-top: 1rem;
    a {
      text-decoration: none;
      padding: 5px 10px;
      margin: 0 1rem;
      color: black;
      font-weight: bold;
    }
  }
}

.itemCount {
  margin: 1rem;
  border: 1px solid rgba(128, 128, 128, 0.472);
  background-color: rgba(128, 128, 128, 0.1);
  border-radius: 2rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  p {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
  }
  &Btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    p {
      border: 1px solid black;
      width: 70%;
      border-radius: 1rem;
      margin-top: 15px;
    }
    button {
      padding: 10px;
      &:active {
        transform: scale(1.2);
      }
    }
  }
  &Agregar {
    background: #00b7f8;
    border-bottom: 5px solid #0045a6;
    border-radius: 12px;
    box-shadow: 6px 6px 6px #999;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: "Raleway", Arial, Helvetica;
    font-size: 1.5rem;
    height: 2.5rem;
    text-align: center;
    transition: all 0.2s ease 0s;
    &:hover {
      background: #0096f7;
    }
    &:active {
      box-shadow: 2px 2px 2px #777, 0px 0px 15px 0px #00b7f8;
      border-bottom: 1px solid #0045a6;
      text-shadow: 0px 0px 5px #fff, 0px 0px 5px #fff;
      transition: all 0.1s ease 0s;
    }
  }
}
