* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none !important;
}

html,
body,
#root {
  height: 100vh;
}

/*HEADER - START*/
.navBar {
  background-color: #ffcf00;
  height: 104px;
}

.navBarLogo {
  margin-right: 5rem;
}

.navBarInicio {
  width: 10rem;
}

.navBarInicio button {
  width: 135px;
  height: 40px;
  margin-top: 10px;
  border-radius: 8px;
  border: 0px;
  -webkit-box-shadow: 0px 6px 0px #d2d2d2, 0px 3px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 6px 0px #d2d2d2, 0px 3px 15px rgba(0, 0, 0, 0.4);
}

.navBarInicio button:hover {
  -webkit-box-shadow: 0px 7px 7px grey;
          box-shadow: 0px 7px 7px grey;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-box-shadow: 0px 3px 0px #d2d2d2, 0px 3px 7px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 3px 0px #d2d2d2, 0px 3px 7px rgba(0, 0, 0, 0.4);
}

.btnSecciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0rem 1rem;
}

.btnSecciones img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-filter: saturate(150%);
          filter: saturate(150%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.btnSecciones span {
  font-size: 0.6rem;
  color: black;
  font-weight: 700;
}

.iconoCarrito {
  font-size: 1.5rem;
  color: black;
}

.iconoCarrito:hover {
  color: black;
}

.cartNavBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cartNavBar h4 {
  font-size: 1rem;
  color: black;
  background-color: white;
  padding: 5px 10px;
  border-radius: 50%;
}

/*HEADER - END*/
/*MAIN - START*/
#mainInicio {
  background-color: white;
}

/*MAIN - END*/
/*FOOTER - START*/
#mainFooter {
  border-top: 2px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mainFooter ul {
  margin-top: 1rem;
}

#mainFooter ul a {
  text-decoration: none;
  padding: 5px 10px;
  margin: 0 1rem;
  color: black;
  font-weight: bold;
}

/*FOOTER - END*/
/*COUNT - START*/
.itemCount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.itemCountContador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e7e7e7;
  margin-bottom: 1rem;
}

.itemCountContador Button {
  width: 40px;
  font-weight: bold;
}

.itemCount p {
  font-size: 1.2rem;
  font-weight: bold;
  margin: auto;
  width: 3rem;
  text-align: center;
}

/*COUNT - END*/
/*ITEM - START*/
#cardProducto {
  width: 250px;
  height: 450px;
  border-radius: 32px;
  margin: 8px;
}

#cardProducto .cardImg {
  border-radius: 32px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  background-color: #ffcf00;
}

#cardProducto .btnDetalle {
  width: 170px;
  height: 54px;
  margin: auto;
  background-color: #ffcf00;
  font-size: 1rem;
  padding: 10px;
  color: black;
  margin-top: 10px;
  border-radius: 32px;
  border: 0px;
  -webkit-box-shadow: 0px 6px 0px #f1bb00, 0px 3px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 6px 0px #f1bb00, 0px 3px 15px rgba(0, 0, 0, 0.4);
}

#cardProducto .btnDetalle:hover {
  -webkit-box-shadow: 0px 7px 7px grey;
          box-shadow: 0px 7px 7px grey;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-box-shadow: 0px 3px 0px #f1bb00, 0px 3px 7px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 3px 0px #f1bb00, 0px 3px 7px rgba(0, 0, 0, 0.4);
}

#cardProducto .textoProducto {
  text-align: center;
  margin-top: -25px;
}

#cardProducto .textoProductoSerie {
  text-align: start;
  font-size: 0.8rem;
}

#cardProducto .textoProductoTitulo {
  font-size: 1rem;
  margin-top: -10px;
}

/*ITEM - END*/
/*ITEMDETAIL - START*/
.itemDetail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0;
}

.itemDetailFilaUno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.itemDetailTitulo {
  text-align: center;
  margin: auto;
  padding: 1rem;
}

.itemDetailFilaDos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.itemDetailPrecio {
  font-size: 1rem;
}

.itemDetailPrecio span {
  font-size: 1.5rem;
  margin-left: 2rem;
}

.itemDetailDescripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}

.itemDetailDescripcion h5 {
  font-size: 1rem;
}

.itemDetailDescripcion p {
  font-size: 1.1rem;
  margin-left: 2rem;
}

.itemDetailStock {
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/*ITEMDETAIL - END*/
.cartItemContainer {
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
          box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  margin: 1rem;
}

.carritoFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=estilos.css.map */