/*GENERAL - START*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

$colorPrimario: #ffcf00;

html,
body,
#root {
  height: 100vh;
}
/*GENERAL - END*/

/*HEADER - START*/
.navBar {
  background-color: $colorPrimario;
  height: 104px;
  &Logo {
    margin-right: 5rem;
  }
  &Inicio {
    width: 10rem;
    button {
      width: 135px;
      height: 40px;
      margin-top: 10px;
      border-radius: 8px;
      border: 0px;
      box-shadow: 0px 6px 0px #d2d2d2, 0px 3px 15px rgba(0, 0, 0, 0.4);
      &:hover {
        box-shadow: 0px 7px 7px grey;
        transform: translateY(5px);
        box-shadow: 0px 3px 0px #d2d2d2, 0px 3px 7px rgba(0, 0, 0, 0.4);
      }
    }
  }
}

.btnSecciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0rem 1rem;
  img:hover {
    transform: scale(1.2);
    filter: saturate(150%);
    transition: transform 0.5s ease-in-out;
  }
  span {
    font-size: 0.6rem;
    color: black;
    font-weight: 700;
  }
}

.iconoCarrito {
  font-size: 1.5rem;
  color: black;
  &:hover {
    color: black;
  }
}

.cartNavBar {
  display: flex;
  justify-content: center;
  align-items: center;
  h4 {
    font-size: 1rem;
    color: black;
    background-color: white;
    padding: 5px 10px;
    border-radius: 50%;
  }
}
/*HEADER - END*/

/*MAIN - START*/
#mainInicio {
  background-color: white;
}
/*MAIN - END*/

/*FOOTER - START*/
#mainFooter {
  border-top: 2px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  ul {
    margin-top: 1rem;
    a {
      text-decoration: none;
      padding: 5px 10px;
      margin: 0 1rem;
      color: black;
      font-weight: bold;
    }
  }
}
/*FOOTER - END*/

/*COUNT - START*/
.itemCount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  &Contador {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
    margin-bottom: 1rem;
    Button {
      width: 40px;
      font-weight: bold;
    }
  }
  p {
    font-size: 1.2rem;
    font-weight: bold;
    margin: auto;
    width: 3rem;
    text-align: center;
  }
  &Agregar {
    width: 170px;
    height: 45px;
    margin: auto;
    background-color: $colorPrimario;
    font-size: 1rem;
    padding: 10px;
    color: black;
    margin-top: 10px;
    border-radius: 32px;
    border: 0px;
    box-shadow: 0px 6px 0px #f1bb00, 0px 3px 15px rgba(0, 0, 0, 0.4);
    &:hover {
      box-shadow: 0px 7px 7px grey;
      transform: translateY(5px);
      box-shadow: 0px 3px 0px #f1bb00, 0px 3px 7px rgba(0, 0, 0, 0.4);
    }
  }
  &Ir {
    border: none;
    margin-left: 1.5rem;
    background-color: white;
  }
}
/*COUNT - END*/

/*ITEM - START*/
#cardProducto {
  width: 250px;
  height: 450px;
  border-radius: 32px;
  margin: 8px;
  .cardImg {
    border-radius: 32px;
    transform: scale(0.9);
    background-color: $colorPrimario;
  }
  .btnDetalle {
    width: 170px;
    height: 54px;
    margin: auto;
    background-color: $colorPrimario;
    font-size: 1rem;
    padding: 10px;
    color: black;
    margin-top: 10px;
    border-radius: 32px;
    border: 0px;
    box-shadow: 0px 6px 0px #f1bb00, 0px 3px 15px rgba(0, 0, 0, 0.4);
    &:hover {
      box-shadow: 0px 7px 7px grey;
      transform: translateY(5px);
      box-shadow: 0px 3px 0px #f1bb00, 0px 3px 7px rgba(0, 0, 0, 0.4);
    }
  }

  .textoProducto {
    text-align: center;
    margin-top: -25px;
    &Serie {
      text-align: start;
      font-size: 0.8rem;
    }
    &Titulo {
      font-size: 1rem;
      margin-top: -10px;
    }
  }
}
/*ITEM - END*/

/*ITEMDETAIL - START*/
.itemDetail {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 0;
  &FilaUno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &Titulo {
    text-align: center;
    margin: auto;
    padding: 1rem;
  }
  &FilaDos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
  }
  &Precio {
    font-size: 1rem;
    span {
      font-size: 1.5rem;
      margin-left: 2rem;
    }
  }
  &Descripcion {
    display: flex;
    margin-top: 2rem;
    h5 {
      font-size: 1rem;
    }
    p {
      font-size: 1.1rem;
      margin-left: 2rem;
    }
  }
  &Stock {
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}
/*ITEMDETAIL - END*/

// CARTITEM - START
.cartItem {
  box-shadow: 0px 5px 7px -4px #000000, 3px 3px 8px 3px rgba(0, 0, 0, 0);
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $colorPrimario;
  border-radius: 10px;
  margin: 1rem;
  padding: 15px;
  &Img {
    img {
      width: 150px;
    }
  }
  &Numeros {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 100%;
    p {
      color: white;
      font-size: 1.2rem;
      font-weight: bold;
      text-shadow: 1px 1px 0 black;
      border-bottom: 2px solid white;
    }
    span {
      font-size: 1.5rem;
      font-weight: bold;
    }
    .botonBorrar {
      margin: auto;
      margin-top: 1rem;
      padding: 10px;
      border: 2px solid rgb(0, 0, 0);
      background-color: rgb(255, 255, 255);
    }
  }
}
// CARTITEM - END

// CART - START
.cart {
  padding: 2rem 0rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  &Productos {
    margin: auto;
    text-align: center;
    .botonBorrarCart {
      width: 170px;
      height: 54px;
      margin: auto;
      background-color: rgb(255, 0, 0);
      font-size: 1rem;
      font-weight: bold;
      padding: 10px;
      color: white;
      margin-top: 10px;
      border-radius: 32px;
      border: 0px;
      box-shadow: 0px 6px 0px #970000, 0px 3px 15px rgba(0, 0, 0, 0.4);
      &:hover {
        box-shadow: 0px 7px 7px grey;
        transform: translateY(5px);
        box-shadow: 0px 3px 0px #720000, 0px 3px 7px rgba(0, 0, 0, 0.4);
      }
    }
  }
  &Datos {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: $colorPrimario;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      color: white;
      font-size: 3rem;
      font-weight: bold;
      border-left: 10px solid white;
    }
    &Personales {
      width: 80%;
      text-align: center;
    }
    &Total {
      width: 80%;
      border-top: 1px solid white;
      margin-top: 1rem;
      p {
        color: rgb(74, 74, 74) !important;
        text-align: center;
        margin-top: 1rem;
        font-size: 1.5rem;
        font-weight: bold;
        color: white;
        text-shadow: 2px 1px 0 white;
      }
    }
  }
}

.cartInput {
  text-align: center;
  width: 80%;
  margin: 0.5rem 0rem;
  border: 0;
  z-index: 1;
  background-color: transparent;
  border-bottom: 3px solid white;
  font: inherit;
  font-size: 1.125rem;
  padding: 0.25rem 0;
  &:focus,
  &:valid {
    outline: 0;
    border-bottom-color: white;
  }
}

.cartInputError {
  border-bottom: 3px solid red;
}

.inputShort {
  width: 40%;
}

.btnConfirmar {
  width: 170px;
  height: 54px;
  margin: auto;
  background-color: #3cb371;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
  color: black;
  margin-top: 10px;
  border-radius: 32px;
  border: 0px;
  box-shadow: 0px 6px 0px #2f8d59, 0px 3px 15px rgba(0, 0, 0, 0.4);
  &:hover {
    box-shadow: 0px 7px 7px grey;
    transform: translateY(5px);
    box-shadow: 0px 3px 0px #256f46, 0px 3px 7px rgba(0, 0, 0, 0.4);
  }
  &:disabled {
    background-color: #e83845;
    box-shadow: 0px 6px 0px #a1262f, 0px 3px 15px rgba(0, 0, 0, 0.4);
  }
}

.imgCartVacio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
// CART - END

// SPINNER - START
.boxSpinner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 20px solid rgba(0, 0, 0, 0.1);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-left-color: $colorPrimario;
  margin: 10rem 0rem;

  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(216deg);
  }
  70% {
    transform: rotate(252deg);
  }
  80% {
    transform: rotate(288deg);
  }
  90% {
    transform: rotate(324deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
// SPINNER - END
